.navbar {
    background-color: #727478;
    font-size: 30px;
    box-shadow: 2px 4px 8px 0;
    height: 75px;
}
.navbar-nav {
    display: inline;
}
a {
    margin-top: -14px;
    color: black;
}
.navbar-logo {
    height: 50px;
    width: auto;
    display: inline;
    padding-right: 15px;
}
.nav-link {
    font-size: 25px;
}
.nav-link active {
    margin-left: 30px;
}
.navbar-element {
    margin: 15px;
}
.navbar-element Sign-in {
    
}
body {
    background-color: whitesmoke;
}
.col-xs-5 {
    border: 2px solid black;
    padding: 20px;
    margin: 50px;
    margin-top: 80px;
    border-radius: 4px;
}
